In [2]:
import pymongo

myclient = pymongo.MongoClient("mongodb+srv://admin:Aa123456@cluster0.y5ki1.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0")

In [31]:
print(myclient.list_database_names())

['Mr-Nobody', 'mydatabase', 'sample_mflix', 'admin', 'local']

In [33]:
print(mydb.list_collection_names())

['casts']

In [6]:
mydb = myclient["mydatabase"]

mycol = mydb["customers"]

mydict = { "name": "John", "address": "Highway 37" }

x = mycol.insert_one(mydict)

In [7]:
x

InsertOneResult(ObjectId('673c2502731def8ddae43332'), acknowledged=True)

In [8]:
mydict = {"name": "Ali", "age": "23" }
x = mycol.insert_one(mydict)
print(x.inserted_id)

673c2506731def8ddae43333

In [9]:
x

InsertOneResult(ObjectId('673c2506731def8ddae43333'), acknowledged=True)

In [24]:
mylist = [
  { "name": "Amy", "address": "Apple st 652"},
  { "name": "Hannah", "address": "Mountain 21"},
  { "name": "Michael", "address": "Valley 345"},
  { "name": "Sandy", "address": "Ocean blvd 2"},
  { "name": "Betty", "address": "Green Grass 1"},
  { "name": "Richard", "address": "Sky st 331"},
  { "name": "Susan", "address": "One way 98"},
  { "name": "Vicky", "address": "Yellow Garden 2"},
  { "name": "Ben", "address": "Park Lane 38"},
  { "name": "William", "address": "Central st 954"},
  { "name": "Chuck", "address": "Main Road 989"},
  { "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

[ObjectId('67363240b605d6eb7bdbeeba'), ObjectId('67363240b605d6eb7bdbeebb'), ObjectId('67363240b605d6eb7bdbeebc'), ObjectId('67363240b605d6eb7bdbeebd'), ObjectId('67363240b605d6eb7bdbeebe'), ObjectId('67363240b605d6eb7bdbeebf'), ObjectId('67363240b605d6eb7bdbeec0'), ObjectId('67363240b605d6eb7bdbeec1'), ObjectId('67363240b605d6eb7bdbeec2'), ObjectId('67363240b605d6eb7bdbeec3'), ObjectId('67363240b605d6eb7bdbeec4'), ObjectId('67363240b605d6eb7bdbeec5')]

In [32]:
mylist = [
  { "_id": 15, "name": "John", "address": "Highway 37"},
  { "_id": 2, "name": "Peter", "address": "Lowstreet 27"},
  { "_id": 3, "name": "Amy", "address": "Apple st 652"},
  { "_id": 4, "name": "Hannah", "address": "Mountain 21"},
  { "_id": 5, "name": "Michael", "address": "Valley 345"},
  { "_id": 6, "name": "Sandy", "address": "Ocean blvd 2"},
  { "_id": 7, "name": "Betty", "address": "Green Grass 1"},
  { "_id": 8, "name": "Richard", "address": "Sky st 331"},
  { "_id": 9, "name": "Susan", "address": "One way 98"},
  { "_id": 10, "name": "Vicky", "address": "Yellow Garden 2"},
  { "_id": 11, "name": "Ben", "address": "Park Lane 38"},
  { "_id": 12, "name": "William", "address": "Central st 954"},
  { "_id": 13, "name": "Chuck", "address": "Main Road 989"},
  { "_id": 14, "name": "Viola", "address": "Sideway 1633"}
]

x = mycol.insert_many(mylist)

#print list of the _id values of the inserted documents:
print(x.inserted_ids)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 1, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: mydatabase.customers index: _id_ dup key: { _id: 2 }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 2}, 'op': {'_id': 2, 'name': 'Peter', 'address': 'Lowstreet 27'}}], 'writeConcernErrors': [], 'nInserted': 1, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [11]:
x = mycol.find_one()
x

{'_id': ObjectId('67359c48ef427f1b7a6806f4'),
 'name': 'John',
 'address': 'Highway 37'}

In [34]:
for x in mycol.find():
  print(x)

{'_id': ObjectId('673c2a73731def8ddae4333a'), 'name': 'Jared Leto', 'gender': 'Male', 'Role': 'Nemo'}
{'_id': ObjectId('673c2a73731def8ddae4333b'), 'name': 'Diane Kruger', 'Role': 'Anna'}
{'_id': ObjectId('673c2a73731def8ddae4333c'), 'name': 'Sarah Polley', 'Role': 'Elise', 'age': '32'}
{'_id': ObjectId('673c2a73731def8ddae4333d'), 'name': 'Rhys Ifans', 'gender': 'Male', 'Role': "Nemo's father"}

In [35]:
for x in mycol.find({},{ "_id": 1, "name": 1, "address": 1, "age":1 }):
  print(x)

{'_id': ObjectId('673c2a73731def8ddae4333a'), 'name': 'Jared Leto'}
{'_id': ObjectId('673c2a73731def8ddae4333b'), 'name': 'Diane Kruger'}
{'_id': ObjectId('673c2a73731def8ddae4333c'), 'name': 'Sarah Polley', 'age': '32'}
{'_id': ObjectId('673c2a73731def8ddae4333d'), 'name': 'Rhys Ifans'}

In [15]:
myquery = { "address": "Park Lane 38" }

mydoc = mycol.find_one(myquery)

mydoc

{'_id': ObjectId('67359fbeef427f1b7a6806fe'),
 'name': 'Ben',
 'address': 'Park Lane 38'}

In [14]:
mycol2 = mydb["Students"]

In [23]:
data = [
    {"name": "Ali", "avg":19.5},
    {"name": "Reza", "avg": 20},
    {"name": "Sara", "avg":12}

]

mycol2.insert_many(data)

InsertManyResult([ObjectId('673c254c731def8ddae43337'), ObjectId('673c254c731def8ddae43338'), ObjectId('673c254c731def8ddae43339')], acknowledged=True)

In [36]:
result = mycol2.find({"avg": {"$gte":12}}).sort("avg", 1)
for stu in result:
    print(stu)

{'_id': ObjectId('673c254c731def8ddae43337'), 'name': 'Ali', 'avg': 19.5}
{'_id': ObjectId('673c254c731def8ddae43338'), 'name': 'Reza', 'avg': 20}

In [25]:
mycol2.delete_many({
    "name": "Sara"
})

DeleteResult({'n': 1, 'electionId': ObjectId('7fffffff00000000000003ba'), 'opTime': {'ts': Timestamp(1731995258, 23), 't': 954}, 'ok': 1.0, '$clusterTime': {'clusterTime': Timestamp(1731995258, 23), 'signature': {'hash': b'4\xf6\xfe5\xa8NA)\x95\x05\xc2\x94\x1e\xf6\x05\x83\xe0n\xa3W', 'keyId': 7394294019817209858}}, 'operationTime': Timestamp(1731995258, 23)}, acknowledged=True)

In [50]:
mydb = myclient["Mr-Nobody"]

mycol = mydb["casts"]

mylist = [
  { "name": "Jared Leto", "gender": "Male", "Role": "Nemo" },
  { "name": "Diane Kruger", "Role": "Anna" },
  { "name": "Sarah Polley", "Role": "Elise", "age": "32" },
  { "name": "Rhys Ifans", "gender": "Male", "Role": "Nemo's father" },
]

x = mycol.insert_many(mylist)

In [48]:
mydb = myclient["Mr-Nobody"]
mycol = mydb["casts"]

result = mycol.find({"age": {"$gt":12}}).sort("age", 1)
for cast in result:
    print(cast)

In [ ]:


# Select the specific database
mydb = myclient['Mr-Nobody'] 

# Select the 'casts' collection
mycol = mydb['casts']

# Run the aggregation query to find documents with name length less than 5 characters
results = mycol.aggregate([
    {
        '$match': {
            '$expr': { '$lt': [{ '$strLenCP': '$name' }, 11] }
        }
    }
])

# Print the results
for doc in results:
    print(doc)

{'_id': ObjectId('673c2a73731def8ddae4333a'), 'name': 'Jared Leto', 'gender': 'Male', 'Role': 'Nemo'}
{'_id': ObjectId('673c2a73731def8ddae4333d'), 'name': 'Rhys Ifans', 'gender': 'Male', 'Role': "Nemo's father"}
{'_id': ObjectId('673c2b64731def8ddae4333e'), 'name': 'Jared Leto', 'gender': 'Male', 'Role': 'Nemo'}
{'_id': ObjectId('673c2b64731def8ddae43341'), 'name': 'Rhys Ifans', 'gender': 'Male', 'Role': "Nemo's father"}
{'_id': ObjectId('673c2c22731def8ddae43342'), 'name': 'Jared Leto', 'gender': 'Male', 'Role': 'Nemo'}
{'_id': ObjectId('673c2c22731def8ddae43345'), 'name': 'Rhys Ifans', 'gender': 'Male', 'Role': "Nemo's father"}
{'_id': ObjectId('673c2e84731def8ddae43346'), 'name': 'Jared Leto', 'gender': 'Male', 'Role': 'Nemo'}
{'_id': ObjectId('673c2e84731def8ddae43349'), 'name': 'Rhys Ifans', 'gender': 'Male', 'Role': "Nemo's father"}

In [78]:
mydb = myclient["Mr-Nobody"]
mycol = mydb["casts"]

all_docs = mycol.find()

for doc in all_docs:
    print(doc)

{'_id': ObjectId('673c2a73731def8ddae4333a'), 'name': 'Jared Leto', 'gender': 'Male', 'Role': 'Nemo'}
{'_id': ObjectId('673c2a73731def8ddae4333b'), 'name': 'Diane Kruger', 'Role': 'Anna'}
{'_id': ObjectId('673c2a73731def8ddae4333c'), 'name': 'Sarah Polley', 'Role': 'Elise', 'age': '32'}
{'_id': ObjectId('673c2a73731def8ddae4333d'), 'name': 'Rhys Ifans', 'gender': 'Male', 'Role': "Nemo's father"}
{'_id': ObjectId('673c2b64731def8ddae4333e'), 'name': 'Jared Leto', 'gender': 'Male', 'Role': 'Nemo'}
{'_id': ObjectId('673c2b64731def8ddae4333f'), 'name': 'Diane Kruger', 'Role': 'Anna'}
{'_id': ObjectId('673c2b64731def8ddae43340'), 'name': 'Sarah Polley', 'Role': 'Elise', 'age': '32'}
{'_id': ObjectId('673c2b64731def8ddae43341'), 'name': 'Rhys Ifans', 'gender': 'Male', 'Role': "Nemo's father"}
{'_id': ObjectId('673c2c22731def8ddae43342'), 'name': 'Jared Leto', 'gender': 'Male', 'Role': 'Nemo'}
{'_id': ObjectId('673c2c22731def8ddae43343'), 'name': 'Diane Kruger', 'Role': 'Anna'}
{'_id': ObjectId('673c2c22731def8ddae43344'), 'name': 'Sarah Polley', 'Role': 'Elise', 'age': '32'}
{'_id': ObjectId('673c2c22731def8ddae43345'), 'name': 'Rhys Ifans', 'gender': 'Male', 'Role': "Nemo's father"}
{'_id': ObjectId('673c2e84731def8ddae43346'), 'name': 'Jared Leto', 'gender': 'Male', 'Role': 'Nemo'}
{'_id': ObjectId('673c2e84731def8ddae43347'), 'name': 'Diane Kruger', 'Role': 'Anna'}
{'_id': ObjectId('673c2e84731def8ddae43348'), 'name': 'Sarah Polley', 'Role': 'Elise', 'age': '32'}
{'_id': ObjectId('673c2e84731def8ddae43349'), 'name': 'Rhys Ifans', 'gender': 'Male', 'Role': "Nemo's father"}

In [73]:
mydb = myclient["Mr-Nobody"]
mycol = mydb["casts"]


all_docs = mycol.find()


filtered_docs = [doc for doc in all_docs if 'name' in doc and len(doc['name']) < 11]

for doc in filtered_docs:
    print(doc)

{'_id': ObjectId('673c2a73731def8ddae4333a'), 'name': 'Jared Leto', 'gender': 'Male', 'Role': 'Nemo'}
{'_id': ObjectId('673c2a73731def8ddae4333d'), 'name': 'Rhys Ifans', 'gender': 'Male', 'Role': "Nemo's father"}
{'_id': ObjectId('673c2b64731def8ddae4333e'), 'name': 'Jared Leto', 'gender': 'Male', 'Role': 'Nemo'}
{'_id': ObjectId('673c2b64731def8ddae43341'), 'name': 'Rhys Ifans', 'gender': 'Male', 'Role': "Nemo's father"}
{'_id': ObjectId('673c2c22731def8ddae43342'), 'name': 'Jared Leto', 'gender': 'Male', 'Role': 'Nemo'}
{'_id': ObjectId('673c2c22731def8ddae43345'), 'name': 'Rhys Ifans', 'gender': 'Male', 'Role': "Nemo's father"}
{'_id': ObjectId('673c2e84731def8ddae43346'), 'name': 'Jared Leto', 'gender': 'Male', 'Role': 'Nemo'}
{'_id': ObjectId('673c2e84731def8ddae43349'), 'name': 'Rhys Ifans', 'gender': 'Male', 'Role': "Nemo's father"}

In [ ]:
results = mycol.find({ "name": { "$regex": "^.{1,10}$" } })


for doc in results:
    print(doc)

{'_id': ObjectId('673c2a73731def8ddae4333a'), 'name': 'Jared Leto', 'gender': 'Male', 'Role': 'Nemo'}
{'_id': ObjectId('673c2a73731def8ddae4333d'), 'name': 'Rhys Ifans', 'gender': 'Male', 'Role': "Nemo's father"}
{'_id': ObjectId('673c2b64731def8ddae4333e'), 'name': 'Jared Leto', 'gender': 'Male', 'Role': 'Nemo'}
{'_id': ObjectId('673c2b64731def8ddae43341'), 'name': 'Rhys Ifans', 'gender': 'Male', 'Role': "Nemo's father"}
{'_id': ObjectId('673c2c22731def8ddae43342'), 'name': 'Jared Leto', 'gender': 'Male', 'Role': 'Nemo'}
{'_id': ObjectId('673c2c22731def8ddae43345'), 'name': 'Rhys Ifans', 'gender': 'Male', 'Role': "Nemo's father"}
{'_id': ObjectId('673c2e84731def8ddae43346'), 'name': 'Jared Leto', 'gender': 'Male', 'Role': 'Nemo'}
{'_id': ObjectId('673c2e84731def8ddae43349'), 'name': 'Rhys Ifans', 'gender': 'Male', 'Role': "Nemo's father"}